/* github site */

/* beginning of custom fonts */

@font-face {
	font-family: 'Airbnb-Cereal';
	src: url('Fonts/AirbnbCerealBook.ttf') format('ttf');
	src: url('Fonts/AirbnbCerealBook.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Airbnb-Cereal';
	src: url('Fonts/AirbnbCerealMedium.ttf') format('ttf');
	src: url('Fonts/AirbnbCerealMedium.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Airbnb-Cereal';
	src: ('');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Airbnb-Cereal';
	src: url('Fonts/AirbnbCerealLight.ttf');
	src: url('Fonts/AirbnbCerealLight.woff');
	font-weight: lighter;
	font-style: normal;
}
}
/* end of @font-face */

html {
	font-family: Airbnb-Cereal, arial, sans-serif;
}

/* fixes pop-up box/text-size based on zooming in/out*/
@media only screen and (min-width: 1000px) {
    html {
        zoom: 1.15;
        -moz-transform: scale(1.15);
    }
}
@media only screen and (min-width: 1500px) {
	html {
		zoom: 1.5;
		-moz-transform: scale(1.5);
	}
}
@media only screen and (min-width: 2000px) {
	html {
		zoom: 1.7;
		-moz-transform: scale(1.7);
	}
}
@media only screen and (min-width: 2500px) {
	html {
		zoom: 1.9;
		-moz-transform: scale(1.9);
	}
}


body {
	margin: 0;
	padding: 0;
	text-align: justify;
	line-height: 1.7;
	background-color: #2e2e2e;
}

h1 {
	font-size: 120%;
	text-align: center;
	color: #b80000;
}

h2 {
	font-size: 95%;
	margin-bottom: 0;
	color: #b80000;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
	width: 100%;
	height: auto;
}

p {
	text-indent: 25px;
}

.container {
	margin-top: 40px;
	background-color: #8c1904;
}

.content-area {
	background-color: #FFF;
	padding: 0 20px;
	border-left: 12px solid #8c1904;
	border-right: 12px solid #8c1904;
	box-sizing: border-box;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 0px;
}

@media screen and (min-width: 700px) {
	.content-area {
		padding: 0 40px; 
	}
}

@media screen and (min-width: 1280px) {
	.content-area {
		max-width: 900px;
	}
}
@media screen and (min-width: 2000px) {
	.content-area {
		max-width: 1200px;
	}
}

@media screen and (min-width: 2880px) {
	.content-area {
		max-width: 1500px;
	}
}

@media screen and (min-width: 4320px) {
	.content-area {
		max-width: 2200px;
		padding: 0 80px;
		box-sizing: border-box;
	}
}

.content-area p {
	font-size: 80%;
}

.sidebar {
	padding: 0 0;
	margin: 0px;
	background-color: #ffe5e3;
}

.sidebar ul {
	padding-top: 10px;
	margin-bottom: 0;
}

.sidebar li {
	font-size: 80%;
}

.get-tickets {
	width: 50%;
	margin: 20px auto;
	display: block;
	box-sizing: border-box;
	background-color: #cf362b;
	color: #fff;
	padding: 10px 0;
	border: 1px solid #9c0a00;
	border-radius: 3px;
	outline: none;
	margin-bottom: 10px;
}

.get-tickets:hover,
.get-tickets:focus {
  border: 1px solid #9c0a00;
  background-color: #9c0a00;
}

.get-tickets a {
	color: #FFF;
	text-decoration: none;
}

.learn-more a{
	text-decoration: none;
	font-size: 50%;
	padding: 4px 10px;
	border: 1px solid #b80000;
	border-radius: 10px;
	color: white;
	background-color: #de3023;
}

.learn-more a:hover {
	background-color: #d13226;
}

/* for p elements */
.centered-text {
	text-indent: 0;
	text-align: center;
}

.underline {
	text-decoration: underline #b80000;
}

.lighter {
	font-weight: lighter;
}

.remove-indent {
	text-indent: 0;
}

.remove-margin-top {
	margin-top: 0;
	padding-top: 0;
}

.add-margin-top {
	margin-top: 12.8px;
}

.add-padding-bottom {
	padding-bottom: 12.8px;
}

.small-print p{
	font-size: 60%;
	color: red;
}

.theme-wrapper {
	display: block;
	max-height: 500px;
	overflow: hidden;
}

.pop-up {
	padding: 15px 15px 20px 15px;
	height: 93.5%;
}

/* Pop-up boxes need to be better designed on screen size/zoom*/

@media screen and (min-width: 1080px) {
	.pop-up {
		padding-bottom: 25px;
	}
}

@media screen and (min-width: 2000px) {
	.pop-up {
		padding-bottom: none;
	}
}

@media screen and (min-width: 2880px) {
	.pop-up {
		padding-bottom: 15px;
		height: 94%;
	}
}


@media screen and (min-width: 4000px) {
	.pop-up {
		padding: 15px 15px 15px 15px;
		height: 96%;
	}
}


/*==================================================
 * Effect 8 borrowed code hehe
 * ===============================================*/
.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px 3px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.07) inset;
       -moz-box-shadow:0 1px 4px 3px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.07) inset;
            box-shadow:0 1px 4px 3px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.07) inset;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/* Site navigation */

.nav-bar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	border-bottom: 3px solid #3b3b3b;
	z-index: 1;
}

.nav-bar ul {
	padding: 0;
	margin: 0;
}

.nav-bar li {
	display: inline-block;
	list-style: none;
	float: left;
}

.nav-bar a {
	text-decoration: none;
	color: black;
	padding: 10px 15px;
	font-size: 75%;
	display: block;
	box-sizing: border-box;
	vertical-align: center;
}

.nav-bar a:hover {
	color: red;
	transition: all .5s;
}

.written-links {
	float: right;
}

/*
@media screen and (max-width: 720px) {
	.nav-bar li {
		display: block;
		list-style: none;

		content: "";
		display: table;
		clear: both;
		zoom: 1;
	}

	.main-nav {
		position: absolute;
		top: 2px;
		right: 25px;
		list-style-type: none;

	}

	.nav-bar-toggle {
		position: absolute;
		top: 2px;
		right: 0px;

	}

}
*/ 

@media screen and (max-width: 675px) {
	
}

/* end of responsive navbar */

.nav-bar img{
	display: block;
	max-height: 25px;
	width: auto;
}
/* End of nav-bar */


/* Email Form Styling */
.email-form h4{
	text-align: center;
}

form {
	color: #6b6b6b;
	background-color: #ECECEC;
	padding: 25px 35px;
	font-size: 70%;
	max-width: 740px;
	margin: 20px auto;
	box-sizing: border-box;
}

input[type="email"], input[type="text"] {
	width: 100%;
	display: block;
	padding: 10px;
	margin-bottom: 15px;
	box-sizing: border-box;
	border: 1px solid #a1a1a1;
}

button {
	width: 100%;
	display: block;
	box-sizing: border-box;
	background-color: #869960;
	color: #fff;
	padding: 10px 0;
	border: 1px solid #798a56;
	border-radius: 3px;
	outline: none;
	margin-bottom: 10px;
}

button:hover,
button:focus {
  border: 1px solid #535e3b;
  background-color: #798a56;
}

.email-form {
	margin-top: 20px;
}

.hidden {
	display: none;
}
/* End of Email Form Styling */


/* About-page custom CSS */

.about-page h1 {
	font-size: 110%;
	color: #b80000;
	text-align: left;
	margin-bottom: 8px;
}

.about-page p {
	margin-top: 0;
}

.social-links a {
	color: #b80000;
}

/* End of About-page CSS */


/* Speakers specific CSS */

.speakers-page h2 {
	font-size: 110%;
	margin-bottom: 10px;
}

.nominate-button a{
	text-decoration: none;
	font-size: 50%;
	padding: 4px 10px;
	border: 1px solid #b80000;
	color: white;
	background-color: #de3023;
	
}

.nominate-button a:hover {
	background-color: #d13226;
}

.temp-speaker {
	padding: 50px 50px;
	margin-bottom: 10px;
	border: 1px solid #023499;
	background-color: #e7eff5;
}

/* I am so sorry for this garbage CS the tops/bottoms of the pop-up boxes aren't aligned because the 3 col layout as opposed to 4 col for team page*/

/* End of Speakers specific CSS */


/* Team specific CSS */

.team-page h3 {
	font-size: 80%;
	margin: 0;
}

.headshot img{
	width: 100%;
	object-fit: cover;
}

/* End of Team specific CSS */


/* Partner specific CSS*/

.partner-logo {
	width: 50%;
	display: block;
	margin: 0 auto;
}

.partner-description {
	padding: 25px 50px;
	margin-bottom: 10px;
}

.perks-list ul {
	text-indent: -5px;
	margin-top: 0;
}

.perks-list li{
	font-size: 75%;
}

/* Partner specific CSS*/

footer {
	background-color: #2e2e2e;
	font-size: 65%;
	text-align: center;
	padding: 20px 0;
}

footer p {
	color: #adadad;
	text-indent: 0;
}

.linkedin a {
	color: #adadad;
}

.linkedin a:hover {
	color: #bababa;
}

/* social media sprites */
.ui-menu {
	margin-bottom: 10px;
}

.ui-menu ul {
	padding: 0;
	margin: 0;
	display: inline-block;
}

.ui-menu li {
	float: left;
	list-style: none;
	margin: 0 8px;
}

.ui-menu a {
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(../Images/sprites.png);
	zoom:0.5;
    -moz-transform:scale(0.5);
    -moz-transform-origin: 0 0;
	text-indent: -9999px;
}

.ui-facebook a {
	background-position: -350px -1px;
}
.ui-facebook a:hover {
	background-position: -350px -260px;
}
.ui-linkedin a {
	background-position: -735px -1px;
}
.ui-linkedin a:hover {
	background-position: -735px -260px;
}
.ui-instagram a {
	background-position: -990px -1px;
}
.ui-instagram a:hover {
	background-position: -990px -260px;
}
/* end of sprites nav */

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

/* Responsive Grid */
.row {
	margin-right: -20px;
}

.col {
	float: left;
	width: 100%;
	padding-right: 20px;
	box-sizing: border-box;
}

.col-xs-11 {width: 91.662%;}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.331%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%;}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

@media screen and (min-width: 480px) {
	.row {
		margin-right: -25px;
	}

	.col {
		padding-right: 25px;
		box-sizing: border-box;
	}

	.col-sm-11 {width: 91.662%;}
	.col-sm-10 {width: 83.332%;}
	.col-sm-9 {width: 75%;}
	.col-sm-8 {width: 66.662%;}
	.col-sm-7 {width: 58.331%;}
	.col-sm-6 {width: 50%;}
	.col-sm-5 {width: 41.662%;}
	.col-sm-4 {width: 33.332%;}
	.col-sm-3 {width: 25%;}
	.col-sm-2 {width: 16.662%;}
	.col-sm-1 {width: 8.332%;}
}

@media screen and (min-width: 720px) {
	.col-md-11 {width: 91.662%;}
	.col-md-10 {width: 83.332%;}
	.col-md-9 {width: 75%;}
	.col-md-8 {width: 66.662%;}
	.col-md-7 {width: 58.331%;}
	.col-md-6 {width: 50%;}
	.col-md-5 {width: 41.662%;}
	.col-md-4 {width: 33.332%;}
	.col-md-3 { width: 25%;}
	.col-md-2 {width: 16.662%;}
	.col-md-1 {width: 8.332%;}
}

@media screen and (min-width: 1280px) {
	.col-lg-11 {width: 91.662%;}
	.col-lg-10 {width: 83.332%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8 {width: 66.662%;}
	.col-lg-7 {width: 58.331%;}
	.col-lg-6 {width: 50%;}
	.col-lg-5 {width: 41.662%;}
	.col-lg-4 {width: 33.332%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2 {width: 16.662%;}
	.col-lg-1 {width: 8.332%;}
}

/* End of Responsive Grid */

/* clear-fix */
.row:before,
.row:after,
.group:before,
.group:after {
  content: "";
  display: table;
}

.row:after,
.group:after {
  clear: both;
}

.row,
.group {
  zoom: 1;
}







































/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 1.5em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}